@font-face {
  font-family: "MessengerPigeons";
  src: url("../../../public/fonts/MessengerPigeons.ttf");
}
#quotes-transition {
  .autorTransition,
  .quoteTransition {
    font-family: MessengerPigeons;
  }
  .quoteTransition {
    font-size: 2rem;
  }
  .autorTransition {
    font-size: 1.4rem;
    transform: translate(60vw, 2vh);
    width: 25vw;
  }
}
