@font-face {
    font-family: "MessengerPigeons";
    src: url("../../../public/fonts/Messenger_Pigeons/MessengerPigeons.ttf");
}
.contact{
    width: 100%;
    position: relative;
    height: 105vh;
    display: flex;
    flex-direction: column;
    background-image: url('../../../public/images/colorkit2.webp');
    padding: 10vh 0 6vh;
    h3{
        font-size: 2rem;
        color: #E9C46A;
        text-align: center;
        padding-bottom: 5vh;
    }
    form{
        background-color: rgba($color: white, $alpha: 0.5);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 75vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        padding-bottom: 10vh;
        @media screen and (max-width: 1023px){
            width: 60vw;
        }
        @media screen and (max-width: 767px){
            width: 75vw;
        }
        .contactInfo{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 45vw;
            @media screen and (max-width: 1023px){
                width: 55vw;
            }
            @media screen and (max-width: 767px){
                width: 70vw;
            }
            .contactId{
                width: 45vw;
                @media screen and (max-width: 1023px){
                    width: 55vw;
                }
                @media screen and (max-width: 767px){
                    width: 70vw;
                }
                display: flex;
                justify-content: space-between;
                .contactLastname{
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 1023px){
                        width: 25vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 30vw;
                    }
                    label, input{
                        height: 3vh;
                    }
                }
                .contactFirstname{
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 1023px){
                        width: 25vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 30vw;
                    }
                    label, input{
                        height: 3vh;
                    }
                }
            }
            .contactTool{
                margin-top: 3vh;
                width: 45vw;
                display: flex;
                justify-content: space-between;
                @media screen and (max-width: 1023px){
                    width: 55vw;
                }
                @media screen and (max-width: 767px){
                    width: 70vw;
                }
                .contactMail{
                    width: 20vw;
                    @media screen and (max-width: 1023px){
                        width: 25vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 30vw;
                    }
                    display: flex;
                    flex-direction: column;
                    label, input{
                        height: 3vh;
                    }
                }
                .contactTel{
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    @media screen and (max-width: 1023px){
                        width: 25vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 30vw;
                    }
                    label, input{
                        height: 3vh;
                    }
                }
            }
        }
        .contactContenu{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            height: 33vh;
            width: 50vw;
            .contactObject{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                label, input{
                    width: 45vw;
                    height: 3vh;
                    @media screen and (max-width: 1023px){
                        width: 55vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 70vw;
                    }
                }   
            }
            .contactMessage{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                label, textarea{
                    width: 45vw;
                    @media screen and (max-width: 1023px){
                        width: 55vw;
                    }
                    @media screen and (max-width: 767px){
                        width: 70vw;
                    }
                }
                label{
                    height: 3vh;
                }
                textarea{
                    height: 15vh;
                    resize: none;
                }
            }
        }
        .contactSubmit{
            width: 45vw;
            @media screen and (max-width: 1023px){
                width: 55vw;
            }
            @media screen and (max-width: 767px){
                width: 70vw;
            }
            input{
                margin-right: 0.5vw;
                float: left;
            }
            p{
                text-align: justify;
                .footerLink{
                    text-shadow: none;
                    text-decoration: none;
                    white-space: nowrap;
                    @media screen and (max-width: 479px){
                        white-space: wrap;
                    }
                }
            }
            .btnSendEmail{
                position: absolute;
                bottom: 4vh;
                left: 50%;
                transform: translateX(-50%);
                padding: 0.3rem 1rem;
                border-radius: 15px;
                background-color: #3abeff;
                border: 2px solid #E0FF4F;
                color: white;
                font-size: 1rem;
            }
        }
    }
}
.transition4{
    position: relative;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        
        line-height: 30px;
        font-size: 1.4rem;
        color: #52796F;
        text-shadow: 1px 1px 1px grey;
        text-align: center;
        @media screen and (max-width: 767px){
            font-size: 1.2rem;
            line-height: 25px;
        }
        @media screen and (max-width: 479px){
            line-height: 20px;
            font-size: 1rem;
        }
        span{
            color: black;
            font-size: 1.5rem;
            position: absolute;
            right: 25%;
            transform: translateX(50%);
            padding-top: 3vh;
            @media screen and (max-width: 1277px){
                font-size: 1.4rem;                
            }
            @media screen and (max-width: 1023px){
                font-size: 1.3rem;
            }
            @media screen and (max-width: 767px){
                font-size: 1.2rem;
            }
            @media screen and (max-width: 479px){
                font-size: 1.1rem;
            }
            @media screen and (max-width: 279px){
                font-size: 1rem;    
            }
        }
    }
    #quote{
        font-family: MessengerPigeons;
        text-shadow: none;
        font-size: 2rem;
        text-align: center justify;
        padding: 0 5vw;
        @media screen and (max-width: 1277px){
            font-size: 1.9rem;                
        }
        @media screen and (max-width: 1023px){
            font-size: 1.8rem;
        }
        @media screen and (max-width: 767px){
            font-size: 1.6rem;
        }
        @media screen and (max-width: 479px){
            font-size: 1.4rem;
        }
        @media screen and (max-width: 279px){
            font-size: 1.2rem;    
        }
    }
    .transition-paragraph {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 50%;
        right: 50%;
        transform: translate(50%, 50%);
        transition: opacity 2s ease-in-out;
    }
    
    .transition-paragraph.show {
      opacity: 1;
      visibility: visible;
      position: absolute;
      bottom: 50%;
      right: 50%;
      transform: translate(50%, 50%);
      animation: fadeIn 2s forwards; /* Animation d'entrée */
    }
    
    .transition-paragraph.fade-out {
      opacity: 0;
      visibility: hidden;
      animation: fadeOut 2s forwards; /* Animation de sortie */
    }
    
    @keyframes fadeOut {
      from {
        opacity: 1;
        visibility: visible;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
}