.langages {
    position: relative;
    width: 100%;
    // height: 70vh;
    padding: 8vh 0;
    background-image: url(../../../public/images/colorkit2reverse.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    .langageLv {
        width: 70vw;
        // height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @media screen and (max-width: 767px){
          margin-bottom: 2vh;
        }
        h3 {
          color: #E9C46A;
          @media screen and (max-width: 767px){
            text-align: center;
          }
        }

        .langage {
            padding-top: 5vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            img {
                height: 8vh;
                margin-right: 4vw;
                @media screen and (max-width: 1277px){
                  height: 7.5vh;              
                }
                @media screen and (max-width: 1023px){
                  height: 7vh;    
                }
                @media screen and (max-width: 767px){
                  height: 6.5vh;    
                }
                @media screen and (max-width: 479px){
                  height: 6vh;    
                }
                @media screen and (max-width: 279px){
                  height: 5vh;    
                }
            }

            p { 
                position: relative;
                // padding-top: 2vh;
                font-weight: bold;
                font-size: 1.8rem;
                color: white;
                text-shadow: 1px 1px 2px black;
                width: 50vw;
                position: relative;
                border-bottom: 15px solid white;
                @media screen and (max-width: 1277px){
                  margin-bottom: 1vh;
                  font-size: 1.7rem;
                  border-bottom: 14px solid white;              
                }
                @media screen and (max-width: 1023px){
                  font-size: 1.6rem;
                  border-bottom: 13px solid white;    
                }
                @media screen and (max-width: 767px){
                  padding-top: 3vh;
                  font-size: 1.5rem;
                  border-bottom: 12px solid white;    
                }
                @media screen and (max-width: 479px){
                  font-size: 1.4rem;
                  border-bottom: 11px solid white;    
                }
                @media screen and (max-width: 279px){
                  font-size: 1.2rem;
                  border-bottom: 10px solid white;    
                }
            }

            p::before {
                content: '';
                position: absolute;
                bottom: -15px;
                left: 0;
                width: var(--width-percentage, 0);
                height: 15px;
                /* Épaisseur du niveau */
                background-color: #52796F;
                transition: width 0.5s;
                /* Durée de l'animation */
                z-index: 99;
                @media screen and (max-width: 1277px){
                  height: 14px;
                  bottom: -14px;              
                }
                @media screen and (max-width: 1023px){
                  height: 13px;
                  bottom: -13px;    
                }
                @media screen and (max-width: 767px){
                  height: 12px;
                  bottom: -12px;   
                }
                @media screen and (max-width: 479px){
                  height: 11px;
                  bottom: -11px;   
                }
                @media screen and (max-width: 279px){
                  height: 10px;
                  bottom: -10px;   
                }
            }
        }
    }
}
.container-transition{
  padding: 5vh 0;
  .transition2 {
      position: relative;
      min-height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      p{
        line-height: 30px;
        font-size: 1.4rem;
        // color: #52796F;
        // font-weight: bold;
        // text-shadow: 1px 1px 1px black;
        @media screen and (max-width: 767px){
          line-height: 25px;
          font-size: 1.2rem;
        }
        @media screen and (max-width: 479px){
          line-height: 20px;
          font-size: 1rem;
        }
          span{
            width: 100%;
            color: #52796F;
            position: absolute;
            bottom: 90%;
            transform: translateX(-50%);
            font-size: 1.6rem;
            @media screen and (max-width: 767px){
              font-size: 1.5rem;
            }
            @media screen and (max-width: 479px){
              font-size: 1.4rem;
            }
          }
      }
      .transition-paragraph {
        width: 70%;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: 45%;
        right: 50%;
        transform: translate(50%, 50%);
        transition: opacity 2s ease-in-out;
        @media screen and (max-width: 1023px){
          width: 80%;
        }
        @media screen and (max-width: 767px){
          width: 90%;
        }
      }
      
      .transition-paragraph.show {
        opacity: 1;
        visibility: visible;
        position: absolute;
        bottom: 45%;
        right: 50%;
        transform: translate(50%, 50%);
        animation: fadeIn 2s forwards; /* Animation d'entrée */
      }
      
      .transition-paragraph.fade-out {
        opacity: 0;
        visibility: hidden;
        animation: fadeOut 2s forwards; /* Animation de sortie */
      }
      
      @keyframes fadeOut {
        from {
          opacity: 1;
          visibility: visible;
        }
        to {
          opacity: 0;
          visibility: hidden;
        }
      }
      
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
  }
}