.technologies{
    position: relative;
    width: 100vw;
    background-image: url(../../../public/images/colorkitreverse.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 8vh 0 3vh;
    h3{
      padding: 0 6vw;
      @media screen and (max-width: 767px){
        text-align: center;
        padding: 5vh 0;
      }
    }
    .technologieLv{
      width: 100vw;
      height: 60vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      padding: 0 1vw;
      @media screen and (max-width: 767px){
        height: auto;
        padding: 1vh 1vw 10vh 1vw;
      }
      .technologie {
        padding-top: 2vh;
        position: relative;
        display: flex;
        flex-wrap: nowrap;

        .logoTechno {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-right: 1vw;
          border-bottom: 15px solid white;
          height: 9vh;
          width: 40vw;
          @media screen and (max-width: 767px){
            width: 65vw;
          }

          img{
            width: 3vw;
            height: auto;
            
            padding-bottom: 1vh;
            @media screen and (max-width: 767px){
              width: 6vw;
            }
          }
        }
        .logoTechno::before{
          content: '';
          position: absolute;
          bottom: -15px;
          left: 0;
          width: var(--width-percentage, 0);
          height: 15px;
          /* Épaisseur du niveau */
          background-color: #52796F;
          transition: width 0.5s;
          /* Durée de l'animation */
          z-index: 99;
        }

        p { 
            position: relative;
            padding-top: 2.5vh;
            padding-bottom: 0.5vh;
            margin-right: 2vw;
            font-weight: bold;
            font-size: 1.4rem;
            color: white;
            text-shadow: 1px 1px 2px black;
            width: 30vw;
            position: relative;
            @media screen and (max-width: 1023px){
              font-size: 1.2rem;
            }
        }

        // p::before {
        //     content: '';
        //     position: absolute;
        //     bottom: -15px;
        //     left: 0;
        //     width: var(--width-percentage, 0);
        //     height: 15px;
        //     /* Épaisseur du niveau */
        //     background-color: #52796F;
        //     transition: width 0.5s;
        //     /* Durée de l'animation */
        //     z-index: 99;
        // }
      }
    }
  }
.container-transition{
  padding: 1vh 0 2vh;
  .transition3{
    position: relative;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      line-height: 30px;
      font-size: 1.4rem;
      // color: #52796F;
      // font-weight: bold;
      // text-shadow: 1px 1px 1px black;
      @media screen and (max-width: 767px){
        line-height: 25px;
        font-size: 1.2rem;
      }
      @media screen and (max-width: 479px){
        line-height: 20px;
        font-size: 1rem;
      }
        span{
            width: 100%;
            color: #52796F;
            position: absolute;
            bottom: 90%;
            transform: translateX(-50%);
            font-size: 1.6rem;
            @media screen and (max-width: 767px){
              font-size: 1.5rem;
            }
            @media screen and (max-width: 479px){
              font-size: 1.4rem;
            }
        }
    }
    .transition-paragraph {
      width: 70%;
      height: auto;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 45%;
      right: 50%;
      transform: translate(50%, 50%);
      transition: opacity 2s ease-in-out;
      @media screen and (max-width: 1023px){
        width: 80%;
      }
      @media screen and (max-width: 767px){
          width: 90%;
      }
      @media screen and (max-width: 479px){
        width: 95%;
      }
    }
    
    .transition-paragraph.show {
      opacity: 1;
      visibility: visible;
      position: absolute;
      bottom: 45%;
      right: 50%;
      transform: translate(50%, 50%);
      animation: fadeIn 2s forwards; /* Animation d'entrée */
    }
    
    .transition-paragraph.fade-out {
      opacity: 0;
      visibility: hidden;
      animation: fadeOut 2s forwards; /* Animation de sortie */
    }
    
    @keyframes fadeOut {
      from {
        opacity: 1;
        visibility: visible;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}


