@font-face {
  font-family: "MessengerPigeons";
  src: url("../../../public/fonts/MessengerPigeons.ttf");
}

.container-quotes-transition {
  height: 23vh;
  width: 100vw;

  position: relative;

  .quoteTransition {
    margin: 2vh 0;
    text-align: left;
    font-size: var(--thirdSize);
    @media screen and (max-width: 767px) {
      font-size: var(--fourthSize);
    }
    @media screen and (max-width: 479px) {
      font-size: var(--fifthSize);
    }
  }
  .autorTransition {
    text-align: right;
    font-family: MessengerPigeons;
    font-size: 1.4rem;
    color: var(--mainColor);
    font-size: var(--secondSize);
    @media screen and (max-width: 767px) {
      font-size: var(--thirdSize);
    }
    @media screen and (max-width: 479px) {
      font-size: var(--fourthSize);
    }
  }
}
.container-quotes-transition {
  .quotes-transition {
    .transition-paragraph {
      width: 70vw;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // transition: opacity 2s ease-in-out;
    }

    .transition-paragraph.show {
      opacity: 1;
      visibility: visible;
      animation: fadeIn 2s forwards;
    }

    .transition-paragraph.fade-out {
      opacity: 0;
      visibility: hidden;
      animation: fadeOut 2s forwards;
    }

    @keyframes fadeOut {
      from {
        opacity: 1;
        visibility: visible;
      }
      to {
        opacity: 0;
        visibility: hidden;
      }
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
}
