:root{
  /* Couleurs */
  --mainColor: #3abeff;
  --secondColor: #e0ff4f;
  --thirdColor: #52796f;
  --fourthColor: #f7f7f7;
  --fifthColor: #000000;
  --sixthColor: #ffffff;
  --seventhColor: #ff0000;
  --eighthColor: #ff00ff;
  --ninthColor: #00ff00;
  --tenthColor: #00ffff;
  --eleventhColor: #ffff00;

  /* Sizes */
  --mainSize: 2rem;
  --secondSize: 1.8rem;
  --thirdSize: 1.6rem;
  --fourthSize: 1.4rem;
  --fifthSize: 1.2rem;
  --sixthSize: 1rem;

  /* Fonts */
  --mainFont: "Londrina";
  --secondFont: "Spartan";
  --thirdFont: "MessengerPigeons";
  --fourthFont: "LeagueSpartan";
  --fifthFont: "Roboto";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Londrina";
  src: url("/fonts/LondrinaSolid-Regular.ttf");
}

body {
  width: 100%;
}
h1,
.btnContact,
.btnMenu,
h3,
h4,
.titleTransition,
.autorTransition .cvDownload,
.footerLink,
button,
label,
.requiredLabel {
  font-family: "Londrina";
  text-shadow: 1px 2px 2px black;
  letter-spacing: 1.8px;
}

label {
  color: white;
}
input,
textarea {
  border: none;
}
h3,
h4,
.titleTransition {
  color: #52796f;
}
h3 {
  font-size: 1.9rem;
  @media screen and (max-width: 1277px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 1023px) {
    font-size: 1.7rem;
    // orientation: landscape{
    //     font-size: 1.3rem;
    // }
  }
  @media screen and (max-width: 767px) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 479px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 279px) {
    font-size: 1.3rem;
  }
}
h4 {
  font-size: 2rem;
  @media screen and (max-width: 1277px) {
    font-size: 1.9rem;
  }
  @media screen and (max-width: 1023px) {
    font-size: 1.8rem;
    // orientation: landscape{
    //     font-size: 1.5rem;
    // }
  }
  @media screen and (max-width: 767px) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: 479px) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 279px) {
    font-size: 1.5rem;
  }
}

@font-face {
  font-family: "Spartan";
  src: url("/fonts/LeagueSpartan-VariableFont_wght.ttf");
}
p,
.langage,
.transitionParagraph {
  font-family: "Spartan";
}
.transition span,
.transition2 span,
.transition3 span {
  font-size: 1.8rem;
  @media screen and (max-width: 1277px) {
    font-size: 1.7rem;
  }
  @media screen and (max-width: 1023px) {
    font-size: 1.6rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 479px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 279px) {
    font-size: 1rem;
  }
}
.transition p,
.transition2 p,
.transition3 p {
  font-size: 1.6rem;
  @media screen and (max-width: 1277px) {
    font-size: 1.5rem;
  }
  @media screen and (max-width: 1023px) {
    font-size: 1.4rem;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.2rem;
  }
  @media screen and (max-width: 479px) {
    font-size: 1rem;
  }
  @media screen and (max-width: 279px) {
    font-size: 0.8rem;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnContact {
  display: flex;
  position: absolute;
  right: 2vw;
  top: 3vh;
  text-decoration: none;
  overflow: hidden;
  font-size: 1.5rem;
  p {
    // border-bottom: 2px solid #3abeff;
    font-weight: bolder;
    color: #e0ff4f;
    &:hover {
      color: #3abeff;
      border-bottom: 3px solid #e0ff4f;
    }
  }
}

/* Largeur de la barre de défilement */
::-webkit-scrollbar {
  display: none;
}

/* Champ du formulaire */
input,
textarea {
  padding: 0.5vh 0.5vw;
}
