*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Londrina";
  src: url("../public/fonts/LondrinaSolid-Regular.ttf");
}
body{
  width: 100%;
}
h1, .btnContact, .btnMenu, h3, h4, .titleTransition, .autorTransition .cvDownload, .footerLink, button, label{
  font-family: "Londrina";
  text-shadow: 1px 2px 2px grey;
  letter-spacing: 1.8px;
}

label{
  color: white;
}
input, textarea{
  border: none;
}
h3,h4, .titleTransition{
  color: #52796F;
}
h3{
  font-size: 1.9rem;
  @media screen and (max-width: 1277px){
      font-size: 1.8rem;              
  }
  @media screen and (max-width: 1023px){
      font-size: 1.7rem;
      // orientation: landscape{
      //     font-size: 1.3rem;
      // }    
  }
  @media screen and (max-width: 767px){
      font-size: 1.6rem;    
  }
  @media screen and (max-width: 479px){
      font-size: 1.5rem;    
  }
  @media screen and (max-width: 279px){
      font-size: 1.3rem;    
  }
}
h4{
  font-size: 2rem;
  @media screen and (max-width: 1277px){
      font-size: 1.9rem;              
  }
  @media screen and (max-width: 1023px){
      font-size: 1.8rem;
      // orientation: landscape{
      //     font-size: 1.5rem;
      // }    
  }
  @media screen and (max-width: 767px){
      font-size: 1.7rem;    
  }
  @media screen and (max-width: 479px){
      font-size: 1.6rem;    
  }
  @media screen and (max-width: 279px){
      font-size: 1.5rem;    
  }
}

@font-face {
  font-family: "Spartan";
  src: url("../public/fonts/LeagueSpartan-VariableFont_wght.ttf");
}
p, .langage, .transitionParagraph{
  font-family: "Spartan";
}
.transition span, .transition2 span, .transition3 span{
  font-size: 1.8rem;
  @media screen and (max-width: 1277px){
      font-size: 1.7rem;                
  }
  @media screen and (max-width: 1023px){
      font-size: 1.6rem;
  }
  @media screen and (max-width: 767px){
      font-size: 1.4rem;
  }
  @media screen and (max-width: 479px){
      font-size: 1.2rem;
  }
  @media screen and (max-width: 279px){
      font-size: 1rem;    
  }
}
.transition p, .transition2 p, .transition3 p{
  font-size: 1.6rem;
  @media screen and (max-width: 1277px){
      font-size: 1.5rem;                
  }
  @media screen and (max-width: 1023px){
      font-size: 1.4rem;
  }
  @media screen and (max-width: 767px){
      font-size: 1.2rem;
  }
  @media screen and (max-width: 479px){
      font-size: 1rem;
  }
  @media screen and (max-width: 279px){
      font-size: 0.8rem;    
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnContact{
  display: flex;
  position: absolute;
  right: 2vw;
  top: 3vh;
  text-decoration: none;
  overflow: hidden;
  font-size: 1.5rem;
  p{
      // border-bottom: 2px solid #3abeff;
      font-weight: bolder;
      color: #E0FF4F;
      &:hover{
          color: #3abeff;
          border-bottom: 3px solid #E0FF4F;
      }
  }
}


/* Largeur de la barre de défilement */
::-webkit-scrollbar {
  display: none;   
}

/* Champ du formulaire */
input, textarea{
  padding: 0.5vh 0.5vw;
}

// ANIMATION TEXT TRANSITION 
.mot{
  animation: color-animation 4s linear infinite;
}
.mot1{
  --color-1: #E0FF4F;
  --color-2: #52796F;
  --color-3: #E9C46A;
}
.mot2{
  --color-1: #3abeff;
  --color-2: #E0FF4F;
  --color-3: #52796F;
}
.mot3{
  --color-1: #E9C46A;
  --color-2: #3abeff;
  --color-3: #E0FF4F;
}
@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}